In [17]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})

fields = set(data['whoAmI'])

res = pd.DataFrame(columns=fields)

for i in data['whoAmI']:
    dct = {field: 1 if field == i else 0 for field in fields}
    another_df = pd.DataFrame([dct])
    res = pd.concat([res, another_df], ignore_index=True)
res

   robot human
0      1     0
1      0     1
2      1     0
3      0     1
4      0     1
5      1     0
6      0     1
7      1     0
8      1     0
9      1     0
10     1     0
11     0     1
12     1     0
13     1     0
14     1     0
15     0     1
16     0     1
17     0     1
18     0     1
19     0     1